<div>
<mat-card
  style="display: inline-block; margin: 10px; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">
  {{sprintName}}
</mat-card>

<mat-card
  style="display: inline-block; margin: 10px; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);">
  Maturity: {{maturity}} %
</mat-card>
</div>

<mat-card style="display: block" *ngIf="pieChartData"
  style="width:fit-content; display: inline-block; float: left; margin: 10px; box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3); vertical-align: top;">
  <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
    [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend" style="min-width: 600px;">
  </canvas>
</mat-card>

<div class="table-container">
  <table mat-table [dataSource]="receivedData.arrOfImmatureIssues" class="mat-elevation-z8" *ngIf="receivedData"
    style="display: block; width:fit-content; height: 100%; overflow: auto">

    <!-- Issue Key Column -->
    <ng-container matColumnDef="IssueKey">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold" style="font-size: 18px"> Ticket Key </th>
      <td mat-cell *matCellDef="let element">
        <a href="https://tajira.us.aegon.com/browse/{{element[0]}}">{{element[0]}}</a>
      </td>
    </ng-container>
    <!-- Story Points Column -->
    <ng-container matColumnDef="StoryPoints">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold" style="font-size: 18px"> Story Points </th>
      <td mat-cell *matCellDef="let element"> {{element[1]}} </td>
    </ng-container>
    <!-- Assignee Column -->
    <ng-container matColumnDef="Assignee">
      <th mat-header-cell *matHeaderCellDef style="font-weight: bold" style="font-size: 18px"> Assignee </th>
      <td mat-cell *matCellDef="let element" (click)="openTeamListForMember(element[2])"
        style="cursor: pointer; text-decoration: underline;"> {{element[2]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
  </table>
</div>
