<mat-tab-group dynamicHeight>
  <mat-tab label="Gamification Leaderboard">
    <div class="gamification-leaderboard mat-elevation-z4">
      <app-leaderboard></app-leaderboard>
    </div>
  </mat-tab>
  <mat-tab label="Jiraffe Team Leaderboard">
    <div class="team-leaderboard mat-elevation-z4">
      <app-jiraffe-team-leaderboard></app-jiraffe-team-leaderboard>
    </div>
  </mat-tab>
  <mat-tab label="Jiraffe Employee Leaderboard">
    <div class="employee-leaderboard mat-elevation-z4">
      <app-jiraffe-indiv-leaderboard></app-jiraffe-indiv-leaderboard>
    </div>
  </mat-tab>
</mat-tab-group>
